.messageContainer {
  font-family: inherit;
  display: flex;
}

@media (min-width: 600px) {
  .messageContainer {
    font-family: inherit;
    display: flex;
    margin: 0 3rem;
  }
}

.right {
  justify-content: flex-end !important;
}
.left {
  justify-content: flex-start;
}
.admin {
  background-color: transparent !important;
  color: #808080;
}

.messageInnerContainer {
  border: none;
  background-color: #efefef;
  border-radius: 0.9rem;
  margin: 0.2rem;
  display: block;
  max-width: 70%;
}

.messageInnerContainer > span {
  color: rgba(34, 35, 34, 1);
  font-weight: 700;
  text-align: left;
  padding: 0.3rem 0.3rem 0 0.6rem;
  margin: 0.2rem 0.2rem;
  display: block;
  font-size: 0.9rem;
}

.message {
  font-weight: 500;
  font-size: 0.9rem;
  margin: 0rem 0.2rem 0.2rem 0.2rem;
  padding: 0 0.6rem 0.3rem 0.6rem;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: hidden;
}
.currentUserMsgContainer {
  background-color: white !important;
  border: 1px solid rgba(206, 206, 206, 0.467);
  border-radius: 0.9rem;
}